input[type="text"]{
    display: block;
    margin: 10px;
    height: 20px;
    width: 300px;
}

button{
    display: block;
    margin: 10px;
    height: 40px;
    width: 250px;
    background-color: blueviolet;
    border: solid;
    border-radius: 20px;
    color: aliceblue;
    align-self: center;
    margin-left: 5%;

}

div{
    margin-left: 35%;
}